---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Settings from "../components/Settings.astro";

import { USER as u } from "../constants";
const NAME = u.name;
const ACCENT_COLOR = u.ACCENT_COLOR;
---

<script>
   import { DAYS, MONTHS } from "../constants";

   const timeElement = document.getElementById("currentTime") as HTMLParagraphElement;
   const dateElement = document.getElementById("currentDate") as HTMLSpanElement;
   const settingsButton = document.querySelector(".settingsButton") as HTMLButtonElement;
   const settingsModal = document.querySelector(".settingsModal") as HTMLDivElement;

   const updateDate = () => {
      const time = new Date();

      const hours = time.toLocaleString('en-US', { 
         hour: "numeric", 
         minute: "2-digit",
         hour12: true,
      })

      // Update the Time
      timeElement.textContent = hours;
      
      // Date Variables
      let currentDay = time.getDay();
      let currentDayOfMonthInNumber = time.getDate();
      let currentMonth = time.getMonth();
      let currentYear = time.getFullYear();

      // Update the Date
      dateElement.textContent = `${DAYS[currentDay]} ${currentDayOfMonthInNumber}, ${MONTHS[currentMonth]} ${currentYear}`;
   };

   settingsButton.addEventListener("click", () => {
      settingsModal.classList.toggle("hidden");
   });
   
   updateDate();

   setInterval(() => {
      updateDate();
   }, 1000);

</script>

<Layout title="Welcome to Astro.">
   <div class="container">
      <Settings />
      <header class="header">
         <div>
            <h1>Hello there, <span id="userName">{NAME}</span>.</h1>
            <p>
               Today is <span id="currentDate">Monday 1, January 2000</span>.
            </p>
         </div>
         <p id="currentTime">00:00 PM</p>
         <button class="settingsButton">
            <img src="/public/assets/setting.png" alt="settings" style="height: 35px; width: 35px;">
         </button>
      </header>
      <main class="cardContainer">
         {u.userCards.map((card) => <Card card={card} />)}
      </main>
   </div>
</Layout>

<style define:vars={{ ACCENT_COLOR }}>
   .container {
      width: 100%;
      max-width: 1280px;
   }

   .header {
      font-weight: 400;

      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   
   .settingsButton {
      position: absolute;
      top: 50px;
      right: 50px;

      background-color: rgba(167, 167, 167, 0.267);
      border: 0;
      border-radius: 6px;
      padding: 12px 12px 8px;
      
      cursor: pointer;
   }

   .settingsButton:hover {
      background-color: rgba(255, 255, 255, 0.1);
   }



   #currentDate {
      color: var(--ACCENT_COLOR);
   }

   #currentTime {
      font-size: 4rem;
      font-weight: 600;
   }

   @media screen and (max-width: 1250px) {
      .header {
         flex-direction: column-reverse;
      }

      #currentTime {
         font-size: 3rem;
         margin-bottom: 1rem;
      }

      #fullDate {
         text-align: center;
      }
   }
</style>
